.each-lunch{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.each-lunch img{
    width: 500px;
    order: 2;
}

.lunch-info{
    width: 410px;
}

.lunch-info .name{
    font-size: 49px;
    margin-top: -13px;
    margin-bottom: 2px;
}

.lunch-info .detail{
    color:  cadetblue;
    line-height: 30px;
    margin-bottom: -33px;
}

.lunch-info .price{
    font-size: 43px;
    margin-bottom: 22px;
}

.lunch-info button{
    border: none;
    background: #e52b2b;
    color: white;
    padding: 10px 27px;
    border-radius: 22px;
    font-size: 17px;
}

.lunch-info button .cart{
    margin-right: 11px;
    font-size: 17px;
}